<<<<<<< HEAD
<h1>HI INDEX !</h1>
=======
<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
>>>>>>> 8722d450f59994b1410c70e7b1e0301223c2589f
